extends layout.pug

block appContent
        h1 Kamela Williamson 
        h2 You have: #{money}
        if !recentTransaction
            p No recent transactions.
        else 
            p Recent transaction.
        button Logout
